<h1>student-list</h1>

<table class="table table-striped"> 

    <thead>
        <th> stdId <span class="glyphicon glyphicon-sort" ></span> 

        </th>

        <th> Name   <span class="glyphicon glyphicon-sort"></span> </th>
        <th>Gender   <span class="glyphicon glyphicon-sort"></span> </th>
        <th>Phone  <span class="glyphicon glyphicon-sort"></span> </th>
        <th>Email  <span class="glyphicon glyphicon-sort"></span> </th>
        <th>CourseID   <span class="glyphicon glyphicon-sort"></span> </th>
        <th>Address </th>
        <th>Changes   </th>
    </thead>
<tbody>
    <tr *ngFor = "let x of students">
        <!-- studentResponse.content -->

        <td> {{x.studentId}}</td>
        <td> {{x.name}}</td>
        <td> {{x.gender}}</td>
        <td> {{x.cellPhone}}</td>
        <td> {{x.email}}</td>
        <td> {{x.course.courseId}}</td>
        <td>
            <button (click) = "addAddressByStudentId(x.studentId)" class="btn btn-info" >Add Address</button> 
        </td>
        <td>
            <button (click) = "updateStudent(x.studentId)" class="btn btn-info">Edit</button>
            <button (click) = "deletStudentById(x.studentId)" class="btn btn-danger" style="margin-left: 20px">Delete</button>
            <!-- <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon>delete</mat-icon>
              </button> -->
        </td>
    </tr>

</tbody>

</table>



<ul class="nav nav-pills"  style="margin-top: 10px;">
    <a class ="nav-link" id="preNext"  (click) = "setPageNoPre()"> pre </a>
    <li class="nav-item" *ngFor = "let x of pages; let i=index">
      <a class ="nav-link" (click) = "setPageNo(i)" [ngClass]="{'active' : i==pageNo}">{{i+1}}</a>
    </li>
    <a class ="nav-link" id="preNext"  (click) = "setPageNoNext()"> Next </a>
  </ul>


 