ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    list-style: none;
    padding: 0;
    white-space: nowrap;
  }
  #logout{
    float: right;
    margin-left: 500px;
  }
  #add{
    color: aqua;
    cursor: pointer;
  }
  #add:hover{
    color: aquamarine;
  }